body {
  position: absolute;
  margin: 10%;
  background: #1f2937;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#difColor {
  color: #4adf86;
}

h4 {
  color: #6b7280;
}

div {
  background: #273549;
  color: #4adf86;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: inline-flex;
}

button {
  background: #4adf86;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

hr {
  margin: 10% auto;
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
